<div class="chat_window">
    <div class="top_menu">
        <div class="buttons">
            <div class="button close"></div>
            <div class="button minimize"></div>
            <div class="button maximize"></div>
        </div>
        <div class="title">Chat</div>
    </div>
    <ul id="new_message" class="messages">
      <li class='message left appeared'>
        <div class='avatar'></div>
        <div class='text_wrapper'>
          <div class='text'><%= @welcome_message %></div>
        </div>
      </li>
      
    </ul>
    <div class="bottom_wrapper clearfix">
      <%= form_for(@chat, remote: true) do |form| %>
        <div class="message_input_wrapper">
          <%= form.text_field :message, placeholder: 'Type your message here...', class: 'message_input', required: true %>
        </div>        
        <%= form.submit class: 'text', value: 'Enviar', class: 'send_message' %>
      <% end %>
    </div>
</div>
